<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module_base" >

    <application >

        <activity
            android:name=".imagepager.ImagePagerActivity"
            android:label="图片查看"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
